# This is Git's per-user configuration file.
[user]
	email = szymon.tomasz.szadkowski@gmail.com
#   Please adapt and uncomment the following lines:
	name = Szymon Szadkowski
#	email = naqet@Szymons-MacBook-Pro.local
[http]
	sslCAInfo = /Users/naqet/work/gitlab.sonelli-group.com.pem
